* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'SBAggroB';
}

.header {
    background-color: grey;
    height: 10vh;
    width: 100%;
    display : flex;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.header-logo {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
    flex-shrink: 0;
    flex-grow: 0;
}

.header-logo img {
    width : 50px;
    height: auto;
    background-color: blue;
    margin-left: 10px;
}

.header-logo span {
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.header-nav {
    background-color: blue;
    justify-content: center;
    display: flex;
    flex-basis: 70%;
    flex-shrink: 0;
    flex-grow: 0;

}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    list-style: none;
    flex-basis: 70%;
    flex-shrink: 0;
    flex-grow: 0;
    
}

.nav-item {
    background-color: yellow;
}

.nav-item a{
    background-color: black;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.header-snslogo {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    flex-basis: 15%;
    flex-shrink: 0;
    flex-grow: 0;
}

.header-snslogo img {
    width : 50px;
    height: auto;
    background-color: blue;
    margin: 10px;
}

.main {
    background-color: black;
    cursor: default;
}

.bg-video{
    height: 90vh;
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 1;
}

.bg-video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2; 
}

.home-hi {
    font-size : 200px;
    font-weight: 700;
    background-color: black;
    transition: all 0.5s;
}

.home-role {
 display: none;
}

.home-name {
 display: none;
}

.sub-intro {
    /* background-color: grey; */
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    display: none;
}

.aboutme {
    height: 6vh;
    font-weight: 700;
    display: none !important;
}

.section02 {
    background-color: green;
    height: 100vh;
    display: flex;
}

.section03 {
    background-color: white;
    height: 100vh;
}

.footer {
    background-color: grey;
    height : 100px;
    cursor: default;
}

.aboutme {
    font-size: 16px;
    border: none; 
    padding: 15px 32px;
    border-radius: 20px;    
    cursor: pointer;  

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bg-video-pause {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: relative;
    width: 40px;
    height: 40px;
    top: 110px;
    left: 670px;
}

.bg-video-pause-btn {
    width: 40px;
    height: 40px;
    display: block;
}

.bg-video-play-btn {
    width: 40px;
    height: 40px;
    display: none;
}

.show-bg-video-pause-btn {
    display: block;
}

.show-bg-video-play-btn {
    display: block;
}

.hide-bg-video-pause-btn {
    display: none;
}

.hide-bg-video-play-btn {
    display: none;
}

