* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* font-family: 'SBAggroB'; */
}

.header {
    position: fixed;
    background-color: black;
    height: 10vh;
    width: 100%;
    display : flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid grey;
    z-index: 3;
}

.header-white {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: none;
    box-shadow: 1px 1px 3px grey;
}

.header-inner {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

.AboutMe {
    cursor: pointer;
}

.Home {
    cursor: pointer;
}

.Skills {
    cursor: pointer;
}

.Projects {
    cursor: pointer;
}

.Career {
    cursor: pointer;
}

.Devlog {
    cursor: pointer;
}

.header-logo img {
    width : 50px;
    height: auto;
    /* background-color: purple; */
    margin: 0;
    padding: 0;
}

.header-logo-span {
    font-size: 30px;
    font-weight: bold;
    color: white;
    /* background-color: white; */
}

.header-logo-span-black{
    color: black;
}

.header-nav {
    /* background-color: blue; */
    justify-content: flex-end;
    display: flex;
    flex-basis: 70%;
    color: white;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    list-style: none;

    margin: 0;
    padding: 0;
}

.nav-item {
    /* background-color: yellow; */
}

.nav-item a{
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}

.header-black {
    color: black;
}

/* 전체를 포함하는 main */
.main {
    cursor: default;
    background-color: black;
}

.bg-video{
    width: 100%;

    display: flex;   
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 1;


    position: relative;
    /* header 높이만큼 아래로 */
    top: 10vh; 
    padding: 50px;
    height: 100vh;
    
}

.bg-video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute
}

.intro-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2; 
}

.home-hi {
    font-size : 200px;
    font-weight: 700;
    transition: all 0.5s;
    margin-top: 400px;
}

.show-home-hi {
    font-size: 40px;
    top: 1000px;
    transition: all 0.5s;
    margin-top: 0px;
}

.home-role {
 font-size : 100px;
 font-weight: 700;

 transform: translateY(20px);
 opacity: 0;
 transition: transform 0.3s, opacity 0.3s;
}

.home-name {
 font-size : 100px;
 font-weight: 700;

 transform: translateY(20px);
 opacity: 0;
 transition: transform 0.7s, opacity 0.7s;
}


.show-home-role {
    transform: translateY(0);
    opacity: 1;
}

.show-home-name {
    transform: translateY(0);
    opacity: 1;
}

.sub-intro {
    padding: 10px;
    font-size: 20px;
    margin: 30px;
    font-weight: 500;
    opacity: 0;
}

.show-sub-intro {
    opacity: 1;
    transition: opacity 2s;
}

.aboutme {
    height: 6vh;
    font-weight: 700;
    opacity: 0;
    background-color: black;
    color: white;
}

.show-aboutme {
    opacity: 1;
    transition: opacity 2s;
}



.section02 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10vh; 

}

/* a {
    text-decoration-line: none;
    color: black;
} */

.aboutmeSpan {
    font-size : 90px;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    text-decoration-line: none;
    text-decoration-color: black;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 50px;
}

.aboutmeWrapper {
    background-color: white;
    padding: 0px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 80%;

}

.aboutmeMain {
    width: 100%;
    background-color: black;
    border-radius: 25px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    /* position: relative;
    right: 1000px; */
    transition: right 0.1s linear;
    padding: 100px 150px 100px 150px;
    margin-bottom: 20px;

}

.aboutmeMain-contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    transform: scale(0.5);
    opacity: 0;
}

.aboutmeMainName {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    grid-gap: 10px;
    color: white;
}

.aboutmeMainNameSpan {
    align-self: center;
    justify-self: center;
    font-size : 30px;
    font-weight: 500;
    border-bottom: 2px solid white;
}
.aboutmeMainNameName {
    align-self: center;
    justify-self: center;
    font-size : 25px;
    font-weight: 400;
}
.aboutmeMainAddr {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    grid-gap: 10px;
    color: white;

}

.aboutmeMainAddrSpan {
    align-self: center;
    justify-self: center;
    font-size : 30px;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.aboutmeMainAddrGm {
    align-self: center;
    justify-self: center;
    font-size : 20px;
    font-weight: 400;
}

.aboutmeMainContact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    grid-gap: 10px;
    color: white;

}

.aboutmeMainContactSpan {
    align-self: center;
    justify-self: center;
    font-size : 30px;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.aboutmeMainContactMail {
    align-self: center;
    justify-self: center;
    font-size : 18px;
    font-weight: 500;
}

.aboutmeCards {
    display: grid;
    grid-template-areas: 
    "aboutmeGithub-logo aboutmeBlog-logo aboutmeResume-logo"
    "aboutmeGithub-subtitle  aboutmeBlog-subtitle aboutmeResume-subtitle"
    "aboutmeGithub-content  aboutmeBlog-content  aboutmeResume-content";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    place-items: center;

    border-radius: 25px;
    background-color: rgba(233, 233, 234, 1);

    margin-top :  30px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;

    opacity: 0;

    position: relative;
    top: 0px;

}

/* .aboutmeGithub {
    width: 100%;
    border-radius: 25px;
    padding: 15px;
    align-self: center;
    justify-content: space-between;
    display: flex;

    transition: all 0.2s linear;
    margin-bottom: 20px;

} */

.aboutmeGithub-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: aboutmeGithub-logo;;
    padding-right: 0;
    height: 80px;
    padding: 10px;
    padding-left: 30px;
}

.aboutmeGithub-subtitle {
    grid-area: aboutmeGithub-subtitle;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
}

.aboutmeGithub-content {
    font-size: 15px;
    grid-area: aboutmeGithub-content;
    padding: 10px;
}

.aboutmeGithub img {
    /* width: 80% */
    object-fit: cover; 
    height: 70px;
}

.aboutmeGithub a {
    text-decoration-line: none;
    /* color: blue;  */
}

.aboutmeBlog a {
    text-decoration-line: none;
    /* color: blue;  */
}

.aboutmeResume a {
    text-decoration-line: none;
    /* color: blue;  */
}

/* .aboutmeBlog {
    width: 100%;

    background-color: rgba(245, 245, 247, 1);
    border-radius: 25px;
    padding: 15px;
    align-self: center;

    display: flex;
    align-content: center;
    justify-content: space-between;


    transition: all 0.2s linear;
    margin-bottom: 20px;

} */

.aboutmeBlog-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: aboutmeBlog-logo;
    padding-right: 0;
    height: 80px;
    padding: 10px;
    padding-left: 30px;

}

.aboutmeBlog-title {
    align-content: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}

.aboutmeBlog-subtitle {
    grid-area: aboutmeBlog-subtitle;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.aboutmeBlog-content {
    font-size: 15px;
    grid-area: aboutmeBlog-content;
    padding: 10px;

}

.aboutmeBlog img {
    align-self: center;
    height: 60px;
    object-fit: cover; 
}

/* .aboutmeResume {
    width: 100%;

    background-color: rgba(245, 245, 247, 1);
    border-radius: 25px;
    padding: 15px;
    align-self: center;
    justify-content: space-between;

    display: flex;

    transition: all 0.2s linear;

} */

.aboutmeResume-logo {
    grid-area: aboutmeResume-logo;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.aboutmeResume-title {
    align-self: center;
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
}

.aboutmeResume-subtitle {
    grid-area: aboutmeResume-subtitle;
    justify-content:center;
    text-align: center;

    font-size: 18px;
    padding: 10px;
}

.aboutmeResume-content {
    font-size: 15px;
    list-style: square;
    grid-area: aboutmeResume-content;
    /* border: 1px solid red; */
    align-self: center;
    padding: 10px;
}

.aboutmeResume img {
    padding-left: 35px;
    height: 60px;
    object-fit: cover; 
    /* border: 1px solid red; */
}

.aboutme {
    font-size: 16px;
    border: none; 
    padding: 15px 32px;
    border-radius: 20px;    
    cursor: pointer;  
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bg-video-pause {
    background-color: rgba(0, 0, 0, 0);

    border: none;
    position: absolute;
    width: 40px;
    height: 40px;

    bottom: 15px;
    right: 30px;
}

.bg-video-pause-btn {
    width: 40px;
    height: 40px;
    display: block;

    cursor: pointer;
}

.bg-video-play-btn {
    width: 40px;
    height: 40px;
    display: none;

    cursor: pointer;

}

.show-bg-video-pause-btn {
    display: block;
}

.show-bg-video-play-btn {
    display: block;
}

.hide-bg-video-pause-btn {
    display: none;
}

.hide-bg-video-play-btn {
    display: none;
}

.topBtn {
    background-color: rgba(0, 0, 0, 0);

    border: none;
    position: fixed;
    width: 40px;
    height: 40px;

    bottom: 20px;
    right: 30px;

    cursor: pointer;
}

.topBtn-img {
    width: 40px;
    height: 40px;
    display: none;
}

.show-topBtn-img {
    width: 40px;
    height: 40px;
    display: block;
}

.hide-topBtn-img {
    width: 40px;
    height: 40px;
    display: none;
}

.section03 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: 10vh;  */

    background-color: white;
    padding-bottom: 10vh;
}


.skillsSpan {
    font-size : 90px;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    text-decoration-line: none;
    text-decoration-color: black;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 50px;
}

.skillsCard {
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 80%;
    height: 60vh;
}


/* .header-logo img */

.htmlImg {
    background-color: rgba(233, 233, 234, 1);
    /* background-color: red; */
    width : 20%;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.htmlImgImg {
    position: relative;
    top: 0px;
    width: 70%;
    height: 110px;
    /* background-color: white; */
    /* animation: moveImg 4s linear infinite; */
}

/* 수정 필요 */
/* @keyframes moveImg {
    0% { transform: translateY(0%); } 
    100% { transform: translateY(-100%); } 
} */

.cssImg {
    background-color: rgba(233, 233, 234, 1);
    width : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.cssImgImg {
    width: 50%;
    position: relative;
    top : 0px;
    height: 110px;
    /* animation: moveImg 16s linear infinite; */
}

.jsImg {
    background-color: rgba(233, 233, 234, 1);
    /* background-color:red; */
    width : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.jsImgImg {
    width: 50%;
    height: 70px;
    /* animation: moveImg 16s linear infinite; */
    position: relative;
    top : 0px;
}


.reactImg {
    background-color: rgba(233, 233, 234, 1);
    width : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;


}

.reactImgImg {
    width: 50%;
    height: 100px;
    position: relative;
    top : 0px;

    /* animation: moveImg 16s linear infinite; */

}

.typescriptImg {
    background-color: rgba(233, 233, 234, 1);
    width : 20%;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.typescriptImgImg {
    width: 50%;
    height: 90px;
    position: relative;
    top : 0px;
    /* animation: moveImg 16s linear infinite; */

}

.flipSkillsJavascript {
    grid-area: flipSkillsJavascript;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    padding: 15px;
    transition: all 0.2s linear;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cardSkillsJavascript {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.4s;
    transform-style: preserve-3d;
}

.skillsJavascriptFront, .skillsJavascriptBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.skillsJavascriptFront {
    display: none;
}

.skillsJavascriptBack {
    transform: rotateY(180deg);
}

.flipSkillsJavascript:hover {
    transform: scale(1.1);
}

.flipSkillsReact:hover {
    transform: scale(1.1);
}

.flipSkillsReact {
    grid-area: flipSkillsReact;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    padding: 15px;
    transition: all 0.2s linear;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cardSkillsReact {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.4s;
    transform-style: preserve-3d;
}

.skillsReactFront, .skillsReactBack {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.skillsReactFront {
    display: none;
}

.skillsReactBack {
    transform: rotateY(180deg);
}



.flipSkillsHTML {
    grid-area: flipSkillsHTML;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    padding: 15px;
    transition: all 0.2s linear;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cardSkillsHTML {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.4s;
    transform-style: preserve-3d;
}

.skillsHTMLFront, .skillsHTMLBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.skillsHTMLFront {
    display: none;
}

.skillsHTMLBack {
    transform: rotateY(180deg);
}

.flipSkillsHTML:hover {
    transform: scale(1.1);
}


.flipSkillsTypescript {
    grid-area: flipSkillsTypescript;

    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    padding: 15px;
    transition: all 0.2s linear;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cardSkillsTypescript {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.4s;
    transform-style: preserve-3d;
}

.skillsTypescriptFront, .skillsTypescriptBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.skillsTypescriptFront {

}

.skillsTypescriptBack {
    transform: rotateY(180deg);
}

.flipSkillsTypescript:hover {
    transform: scale(1.1);
}

.JavascriptTitle {
    background-color: #007aff;
    border: 5px solid white;
    box-shadow: 1px 1px 3px grey; 
    border-radius: 5px;
    width: 160px;
    font-size: 30px;
    text-align: center;
    color: white;
    

    position: relative;
    bottom: 30px;
    right: 30px;
}

.JavascriptContent {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}

.ReactTitle {
    background-color: #007aff;
    border: 5px solid white;
    box-shadow: 1px 1px 3px grey; 
    border-radius: 5px;
    width: 110px;
    font-size: 30px;
    text-align: center;
    color: white;
    

    position: relative;
    bottom: 30px;
    right: 30px;

}

.ReactContent {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}

.HTMLTitle {
    background-color: #007aff;
    border: 5px solid white;
    box-shadow: 1px 1px 3px grey; 
    border-radius: 5px;
    width: 160px;
    font-size: 30px;
    text-align: center;
    color: white;
    

    position: relative;
    bottom: 30px;
    right: 30px;
}

.HTMLContent {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}

.TypescriptTitle {
    background-color: #007aff;
    border: 5px solid white;
    box-shadow: 1px 1px 3px grey; 
    border-radius: 5px;
    width: 160px;
    font-size: 30px;
    text-align: center;
    color: white;
    

    position: relative;
    bottom: 30px;
    right: 30px;
}

.TypescriptContent {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}

.section04 {
    width: 100%;
    /* background-color: rgba(245, 245, 247, 1); */
    background-color: black;

    display: grid;
    grid-template-areas: 
    ". . ."
    ". projectsSpan ."
    ". projects01 ."
    ". projects02 ."
    ". . .";

    grid-template-columns: 1fr 50fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 6fr 1fr;
    grid-gap: 80px;
}

.projectsSpan {
    grid-area: projectsSpan;

    font-size : 90px;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    text-decoration-line: none;
    color: white;
    list-style: none;
}

.projects01 {
    grid-area: projects01;

    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 4px 12px #00000014;
    padding: 50px;

    display: grid;
    grid-template-areas: 
    "projects01Tilte projects01Tilte"
    "projects01Subtilte projects01Subtilte"
    "projects01Img projects01Content"
    "projects01Img projects01Subcontent";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.2fr 0.7fr 0.3fr;
    grid-gap: 20px 40px;

    opacity: 0;
}



.show-projects01 {
    opacity: 1;
    transition: opacity 1s;
}

.hide-projects01 {
    opacity: 0;
    transition: opacity 1s;
}

.projects01Tilte {
    grid-area: projects01Tilte;

    font-size : 50px;
    font-weight: 700;
    align-self: end;
    justify-self: center;
}

.projects01Subtilte {
    grid-area: projects01Subtilte;

    font-size : 20px;
    font-weight: 500;
    color: grey;
    align-self: start;
    justify-self: center;
}



.projects01Content {
    grid-area: projects01Content;
    font-size : 18px;
    font-weight: 500;

}

.projects01Subcontent {
    grid-area: projects01Subcontent;

    display: grid;
    grid-template-areas: 
    "projects01Subcontent-function  projects01Subcontent-function-content"
    "projects01Subcontent-url projects01Subcontent-url-content"
    "projects01Subcontent-stack projects01Subcontent-stack-content";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;

    font-size : 17px;
    font-weight: 400;

    border-top: 1px solid lightgrey;
    padding: 10px;
}


.projects01Subcontent-function {
    grid-area: projects01Subcontent-function;

}

.projects01Subcontent-function-content {
    grid-area: projects01Subcontent-function-content;

}

.projects01Subcontent-url {
    grid-area: projects01Subcontent-url;

}

.projects01Subcontent-url-content {
    grid-area: projects01Subcontent-url-content;

}

.projects01Subcontent-stack {
    grid-area: projects01Subcontent-stack;

}

.projects01Subcontent-stack-content {
    grid-area: projects01Subcontent-stack-content;

}

.projects01Img {
    grid-area: projects01Img;
    background-color: wheat;
    position: relative;

    width: 550px;
    height: 440px;

    overflow: hidden;
}

.projects01ImgLeft {
    position: absolute;
    font-size: 30px;
    color: #ffd700;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    cursor: pointer;
}

.projects01ImgRight {
    position: absolute;
    font-size: 30px;
    color: #ffd700;
    left: 96%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}

.projects01Dot {
    position: absolute;
    font-size: 15px;
    color: grey;
    bottom: 2%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    
    display: flex;
}

.projects01Dot01 {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;

    color: grey;
}

.projects01Dot01:first-child {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;

    color: #ffd700;
}

.projects01Img-carousel {
    display: flex;
    transform: translate3d( 0, 0, 0);
    transition: transform 1s;
}

.projects01Img-carousel > img {
    width: 550px;
    height: 440px;
}

/* 프로젝트02 */
.projects02 {
    grid-area: projects02;

    background-color: white;
    box-shadow: 2px 4px 12px #00000014;
    border-radius: 30px;
    padding: 50px;

    display: grid;
    grid-template-areas: 
    "projects02Tilte projects02Tilte"
    "projects02Subtilte projects02Subtilte"
    "projects02Img projects02Content"
    "projects02Img projects02Subcontent";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.2fr 0.7fr 0.3fr;
    grid-gap: 20px 40px;

    opacity: 0;
}

.show-projects02 {
    opacity: 1;
    transition: opacity 1s;
}

.hide-projects02 {
    opacity: 0;
    transition: opacity 1s;
}

.projects02Tilte {
    grid-area: projects02Tilte;

    font-size : 50px;
    font-weight: 700;
    align-self: end;
    justify-self: center;
}

.projects02Subtilte {
    grid-area: projects02Subtilte;

    font-size : 20px;
    font-weight: 500;
    color: grey;
    align-self: start;
    justify-self: center;
}



.projects02Content {
    grid-area: projects02Content;
    font-size : 18px;
    font-weight: 500;

}

.projects02Subcontent {
    grid-area: projects02Subcontent;

    display: grid;
    grid-template-areas: 
    "projects02Subcontent-function  projects02Subcontent-function-content"
    "projects02Subcontent-url projects02Subcontent-url-content"
    "projects02Subcontent-stack projects02Subcontent-stack-content";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 2px;

    font-size : 17px;
    font-weight: 400;

    border-top: 1px solid lightgrey;
    padding: 10px;
}


.projects02Subcontent-function {
    grid-area: projects02Subcontent-function;

}

.projects02Subcontent-function-content {
    grid-area: projects02Subcontent-function-content;

}

.projects02Subcontent-url {
    grid-area: projects02Subcontent-url;

}

.projects02Subcontent-url-content {
    grid-area: projects02Subcontent-url-content;

}

.projects02Subcontent-stack {
    grid-area: projects02Subcontent-stack;

}

.projects02Subcontent-stack-content {
    grid-area: projects02Subcontent-stack-content;

}

.projects02Img {
    grid-area: projects02Img;
    background-color: wheat;
    position: relative;

    width: 550px;
    height: 440px;

    overflow: hidden;
}

.projects02ImgLeft {
    position: absolute;
    font-size: 30px;
    color: #ffd700;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    cursor: pointer;
}

.projects02ImgRight {
    position: absolute;
    font-size: 30px;
    color: #ffd700;
    left: 96%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}

.projects02Dot {
    position: absolute;
    font-size: 15px;
    color: grey;
    bottom: 2%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    
    display: flex;
}

.projects02Dot01 {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;

    color: grey;
}

.projects02Dot01:first-child {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;

    color: #ffd700;
}

.projects02Img-carousel {
    display: flex;
    transform: translate3d( 0, 0, 0);
    transition: transform 1s;
}

.projects02Img-carousel > img {
    width: 550px;
    height: 440px;
}

.section05 {
    background-color: white;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.careerSpan {
    font-size : 90px;
    font-weight: 700;
    text-decoration-line: none;
    color: black;
    list-style: none;
    padding: 200px 10px 50px 10px;
}

.career01 {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center; 

    background-color: rgba(245, 245, 247, 1);
    width: 85%;
    border-radius: 30px;
    margin-bottom: 200px;
    padding: 40px;
    /* box-shadow: 2px 4px 12px #00000014; */
    box-shadow: initial;


    opacity: 0;
}

.career01-img {
    border-radius: 50%;
    background-color: white;
    width: 270px;
    height: 270px;   

    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid #DEDEDE;
}

.career01-img img {
    width: 70%;
}

.career01-content {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;

    width: 70%;
    margin-left: 30px;
    font-size: 20px;

    border-left: 1px solid lightgray;
}

.career01-maincontent {
}

.career01-maincontent-name {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 10px 10px 30px;
}

.career01-maincontent-peri {
    font-size: 20px;

    color: grey;
    margin: 0px 10px 10px 30px;
}

.career01-maincontent-desc {
    margin: 0px 10px 10px 30px;
    border-bottom: 1px solid lightgray;
}

.career01-subcontent01 {
    
}

.career01-subcontent01-task {
    font-size: 23px;
    font-weight: 500;
    margin: 15px 10px 10px 30px;
    
}

.career01-subcontent01-peri {
    font-size: 20px;

    color: grey;
    margin: 0px 10px 10px 30px;

}

.career01-subcontent01-desc {
    margin: 0px 10px 10px 30px;

}

.show-career01 {
    opacity: 1;
    transition: opacity 1s;
}

.hide-career01 {
    opacity: 0;
    transition: opacity 1s;
}

/* 태블릿 */
@media screen and (max-width: 1200px) {
    .header {
        display: none;
    }
    .bg-video{
        width: 100%;
    
        display: flex;   
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 1;
    
    
        position: relative;
        padding: 50px;
        height: 100vh;
        top: 0;
    }

    .home-hi {
        font-size : 100px;
        font-weight: 700;
        transition: all 0.5s;
        margin-top: 250px;
    }
    
    .show-home-hi {
        font-size: 40px;
        top: 500px;
        transition: all 0.5s;
        margin-top: 0px;
    }
    
    .home-role {
     font-size : 60px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.3s, opacity 0.3s;
    }
    
    .home-name {
     font-size : 60px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.7s, opacity 0.7s;
    }

    .sub-intro {
        padding: 20px;
        font-size: 20px;
        margin: 30px;
        font-weight: 500;
        opacity: 0;
    }

    .show-sub-intro {
        opacity: 1;
        transition: opacity 2s;
    }

    .show-home-role {
        transform: translateY(0);
        opacity: 1;
    }
    
    .show-home-name {
        transform: translateY(0);
        opacity: 1;
    }
    
    .aboutme {
        height: 4vh;
        font-weight: 700;
        opacity: 0;
        font-size: 15px;
    }
    
    .show-aboutme {
        opacity: 1;
        transition: opacity 2s;
    }

    .section02 {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0vh; 
    
    }

    .aboutmeSpan {
        font-size : 90px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: black;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .aboutmeWrapper {
        background-color: white;
        padding: 0px;
        border-radius: 30px;
    
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        width: 80%;
    
    }
    
    .aboutmeMain {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    
        /* position: relative;
        right: 1000px; */
        transition: right 0.1s linear;
        padding: 80px 150px 80px 150px;
        margin-bottom: 20px;
    
    }

    .aboutmeMain-contents {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
    
    .aboutmeMainName {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    }
    
    .aboutmeMainNameSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    .aboutmeMainNameName {
        align-self: center;
        justify-self: center;
        font-size : 20px;
        font-weight: 400;
    }
    .aboutmeMainAddr {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    
    }
    
    .aboutmeMainAddrSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainAddrGm {
        align-self: center;
        justify-self: center;
        font-size : 18px;
        font-weight: 400;
    }
    
    .aboutmeMainContact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    
    }
    
    .aboutmeMainContactSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainContactMail {
        align-self: center;
        justify-self: center;
        font-size : 15px;
        font-weight: 500;
    }
    
    .aboutmeCards {
        display: grid;
        grid-template-areas: 
        "aboutmeGithub-logo aboutmeBlog-logo aboutmeResume-logo"
        "aboutmeGithub-subtitle  aboutmeBlog-subtitle aboutmeResume-subtitle"
        "aboutmeGithub-content  aboutmeBlog-content  aboutmeResume-content";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr;
        grid-column-gap: 50px;
        grid-row-gap: 10px;
        place-items: center;
    
        border-radius: 25px;
        background-color: rgba(233, 233, 234, 1);
    
        margin-bottom: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    
    }
    
    /* .aboutmeGithub {
        width: 100%;
        border-radius: 25px;
        padding: 15px;
        align-self: center;
        justify-content: space-between;
        display: flex;
    
        transition: all 0.2s linear;
        margin-bottom: 20px;
    
    } */
    
    .aboutmeGithub-logo {
        display: flex;
        align-content: center;
        justify-content: center;
        grid-area: aboutmeGithub-logo;;
        padding-right: 0;
        height: 60px;
        padding: 10px;
        padding-left: 30px;
    }
    
    .aboutmeGithub-subtitle {
        grid-area: aboutmeGithub-subtitle;
        align-content: center;
        justify-content: center;
        font-size: 13px;
        padding: 10px;
    }
    
    .aboutmeGithub-content {
        font-size: 10px;
        grid-area: aboutmeGithub-content;
        padding: 10px;
    }
    
    .aboutmeGithub img {
        /* width: 80% */
        object-fit: cover; 
        height: 70px;
    }
    
    .aboutmeGithub a {
        text-decoration-line: none;
        /* color: blue;  */
    }
    
    .aboutmeBlog a {
        text-decoration-line: none;
        /* color: blue;  */
    }
    
    .aboutmeResume a {
        text-decoration-line: none;
        /* color: blue;  */
    }
    
    /* .aboutmeBlog {
        width: 100%;
    
        background-color: rgba(245, 245, 247, 1);
        border-radius: 25px;
        padding: 15px;
        align-self: center;
    
        display: flex;
        align-content: center;
        justify-content: space-between;
    
    
        transition: all 0.2s linear;
        margin-bottom: 20px;
    
    } */
    
    .aboutmeBlog-logo {
        display: flex;
        align-content: center;
        justify-content: center;
        grid-area: aboutmeBlog-logo;
        padding-right: 0;
        height: 60px;
        padding: 10px;
        padding-left: 30px;
    
    }
    
    .aboutmeBlog-title {
        align-content: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 600;
        padding: 5px;
    }
    
    .aboutmeBlog-subtitle {
        grid-area: aboutmeBlog-subtitle;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size: 13px;
        padding: 10px;
    }
    
    .aboutmeBlog-content {
        font-size: 10px;
        grid-area: aboutmeBlog-content;
        padding: 10px;
    
    }
    
    .aboutmeBlog img {
        align-self: center;
        height: 60px;
        object-fit: cover; 
    }
    
    /* .aboutmeResume {
        width: 100%;
    
        background-color: rgba(245, 245, 247, 1);
        border-radius: 25px;
        padding: 15px;
        align-self: center;
        justify-content: space-between;
    
        display: flex;
    
        transition: all 0.2s linear;
    
    } */
    
    .aboutmeResume-logo {
        grid-area: aboutmeResume-logo;
        height: 35px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .aboutmeResume-title {
        align-self: center;
        font-size: 15px;
        font-weight: 600;
        padding: 5px;
    }
    
    .aboutmeResume-subtitle {
        grid-area: aboutmeResume-subtitle;
        justify-content:center;
        text-align: center;
    
        font-size: 13px;
        padding: 10px;
    }
    
    .aboutmeResume-content {
        font-size: 10px;
        list-style: square;
        grid-area: aboutmeResume-content;
        /* border: 1px solid red; */
        align-self: center;
        padding: 10px;
    }
    
    .aboutmeResume img {
        padding-left: 35px;
        height: 60px;
        object-fit: cover; 
        /* border: 1px solid red; */
    }
}

/* 스마트폰 화면 */
@media screen and (max-width: 768px) {
    .header {
        display: none;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        
    }

    .bg-video{
        width: 100%;
    
        display: flex;   
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 1;
    
    
        position: relative;
        padding: 50px;
        height: 100vh;
        top: 0;
    }

    .bg-video-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        position: absolute
    }
    
    .intro-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        z-index: 2; 
    }
    
    .home-hi {
        font-size : 60px;
        font-weight: 700;
        transition: all 0.5s;
        margin-top: 250px;
    }
    
    .show-home-hi {
        font-size: 20px;
        top: 500px;
        transition: all 0.5s;
        margin-top: 0px;
    }
    
    .home-role {
     font-size : 29px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.3s, opacity 0.3s;
    }
    
    .home-name {
     font-size : 29px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.7s, opacity 0.7s;
    }

    .sub-intro {
        padding: 20px;
        font-size: 15px;
        margin: 20px 20px 20px 30px;
        padding: 0px;
        font-weight: 500;
        opacity: 0;
    }

    .show-sub-intro {
        opacity: 1;
        transition: opacity 2s;
    }

    .show-home-role {
        transform: translateY(0);
        opacity: 1;
    }
    
    .show-home-name {
        transform: translateY(0);
        opacity: 1;
    }
    
    .aboutme {
        height: 3vh;
        font-weight: 700;
        opacity: 0;
        font-size: 10px;
    }
    
    .show-aboutme {
        opacity: 1;
        transition: opacity 2s;
    }

    .section02 {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0vh; 
    
    }

    .aboutmeSpan {
        font-size : 40px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: black;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .aboutmeMain {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    
        /* position: relative;
        right: 1000px; */
        transition: right 0.1s linear;
        padding: 50px 30px 50px 30px;
        margin-bottom: 20px;
    
    }

    .aboutmeMain-contents {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .aboutmeMainName {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
        margin-bottom: 20px;
    }
    
    .aboutmeMainNameSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    .aboutmeMainNameName {
        align-self: center;
        justify-self: center;
        font-size : 20px;
        font-weight: 400;
    }
    .aboutmeMainAddr {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
        margin-bottom: 20px;
    
    }
    
    .aboutmeMainAddrSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainAddrGm {
        align-self: center;
        justify-self: center;
        font-size : 20px;
        font-weight: 400;
    }
    
    .aboutmeMainContact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    
    }
    
    .aboutmeMainContactSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainContactMail {
        align-self: center;
        justify-self: center;
        font-size : 18px;
        font-weight: 500;
    }

    .aboutmeCards {
        display: flex;
        flex-direction: column;
        transition: 0.1s linear;
        justify-content: center;
        align-content: center;
    }
    
    .aboutmeGithub-logo {
        display: flex;
        /* height: 60px; */
        overflow: hidden;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    .aboutmeGithub-subtitle {
        /* align-self: center; */
        font-size: 16px;
        margin: 0px;
        padding: 0px;
    }
    
    .aboutmeGithub-content {
        font-size: 14px;
        margin: 0px;
        padding: 0px;
        margin-bottom: 40px;
    }
    
    .aboutmeGithub img {
        align-self: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
    }
    
    .aboutmeGithub a {
        text-decoration-line: none;
        color: blue; 
    }
    
    .aboutmeBlog a {
        text-decoration-line: none;
        /* color: blue;  */
    }
    
    .aboutmeResume a {
        text-decoration-line: none;
        /* color: blue;  */
    }
    
    .aboutmeBlog-logo {
        display: flex;
        align-content: left;
    
        grid-area: aboutmeBlog-logo;

        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
    
    .aboutmeBlog-title {
        align-self: center;
        grid-area: aboutmeBlog-title;
        /* border: 1px solid blue; */
        font-size: 25px;
        font-weight: 600;
    }
    
    .aboutmeBlog-subtitle {
        grid-area: aboutmeBlog-subtitle;
        align-self: center;
        font-size: 16px;
        margin: 0px;
        padding: 0px;
    
        /* border: 1px solid green; */
    }
    
    .aboutmeBlog-content {
        font-size: 14px;
    
        grid-area: aboutmeBlog-content;
        /* border: 1px solid red; */
        align-self: center;
        margin: 0px;
        padding: 0px;
        margin-bottom: 40px;

    }
    
    .aboutmeBlog img {
        align-self: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        /* border: 1px solid red; */
    }
    
    /* .aboutmeResume {
        width: 100%;
    
        background-color: rgba(245, 245, 247, 1);
        border-radius: 25px;
        padding: 15px;
        align-self: center;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        transition: all 0.2s linear;
    
    } */
    
    .aboutmeResume-logo {
        height: 60px;
        display: flex;
        align-content: center;
        grid-area: aboutmeResume-logo;

        overflow: hidden;
    }
    
    .aboutmeResume-title {
        align-self: center;
        grid-area: aboutmeResume-title;
        /* border: 1px solid blue; */
        font-size: 25px;
        font-weight: 600;

    }
    
    .aboutmeResume-subtitle {
        grid-area: aboutmeResume-subtitle;
        align-self: center;
        font-size: 16px;
        margin: 0px;
        padding: 0px;
        /* border: 1px solid green; */
    }
    
    .aboutmeResume-content {
        font-size: 14px;
        list-style: square;
        grid-area: aboutmeResume-content;
        /* border: 1px solid red; */
        align-self: center;       
        margin: 0px;
        padding: 0px;

        margin-bottom: 20px;

    }
    
    .aboutmeResume img {
        align-self: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
    }
}
