* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* font-family: 'SBAggroB'; */
}

.header {
    position: fixed;
    background-color: black;
    height: 10vh;
    width: 100%;
    display : flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid grey;
    z-index: 3;
}

.header-white {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: none;
    box-shadow: 1px 1px 3px grey;
}

.header-inner {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

.AboutMe {
    cursor: pointer;
}

.Home {
    cursor: pointer;
}

.Skills {
    cursor: pointer;
}

.Projects {
    cursor: pointer;
}

.Career {
    cursor: pointer;
}

.Devlog {
    cursor: pointer;
}

.header-logo img {
    width : 50px;
    height: auto;
    /* background-color: purple; */
    margin: 0;
    padding: 0;
}

.header-logo-span {
    font-size: 30px;
    font-weight: bold;
    color: white;
    /* background-color: white; */
}

.header-logo-span-black{
    color: black;
}

.header-nav {
    /* background-color: blue; */
    justify-content: flex-end;
    display: flex;
    flex-basis: 70%;
    color: white;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    list-style: none;

    margin: 0;
    padding: 0;
}

.aboutmeGithubLi li {
    list-style-position: outside;
}

.nav-item {
    /* background-color: yellow; */
}

.nav-item a{
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: inherit;
}

.header-black {
    color: black;
}

/* 전체를 포함하는 main */
.main {
    cursor: default;
    background-color: black;
}

.bg-video{
    width: 100%;

    display: flex;   
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 1;


    position: relative;
    /* header 높이만큼 아래로 */
    top: 10vh; 
    padding: 50px;
    height: 100vh;
    
}

.bg-video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute
}

.intro-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2; 
}

.home-hi {
    font-size : 200px;
    font-weight: 700;
    transition: all 0.5s;
    margin-top: 400px;
}

.show-home-hi {
    font-size: 40px;
    top: 1000px;
    transition: all 0.5s;
    margin-top: 0px;
}

.home-role {
 font-size : 100px;
 font-weight: 700;

 transform: translateY(20px);
 opacity: 0;
 transition: transform 0.3s, opacity 0.3s;
}

.home-name {
 font-size : 100px;
 font-weight: 700;

 transform: translateY(20px);
 opacity: 0;
 transition: transform 0.7s, opacity 0.7s;
}


.show-home-role {
    transform: translateY(0);
    opacity: 1;
}

.show-home-name {
    transform: translateY(0);
    opacity: 1;
}

.sub-intro {
    padding: 10px;
    font-size: 20px;
    margin: 30px;
    font-weight: 500;
    opacity: 0;
}

.show-sub-intro {
    opacity: 1;
    transition: opacity 2s;
}

.aboutme {
    height: 6vh;
    font-weight: 700;
    opacity: 0;
    background-color: black;
    color: white;
}

.show-aboutme {
    opacity: 1;
    transition: opacity 2s;
}



.section02 {
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10vh; 

}

/* a {
    text-decoration-line: none;
    color: black;
} */

.aboutmeSpan {
    font-size : 90px;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    text-decoration-line: none;
    text-decoration-color: black;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 50px;
}

.aboutmeWrapper {
    background-color: rgba(245, 245, 247, 1);
    padding: 0px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 80%;
}

.aboutmeMain {
    width: 100%;
    background-color: black;
    border-radius: 25px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    transition: right 0.1s linear;
    padding: 100px 150px 100px 150px;
    margin-bottom: 20px;

}

.aboutmeMain-contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    transform: scale(0.5);
    opacity: 0;
}

.aboutmeMainName {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    grid-gap: 10px;
    color: white;
}

.aboutmeMainNameSpan {
    align-self: center;
    justify-self: center;
    font-size : 30px;
    font-weight: 500;
    border-bottom: 2px solid white;
}
.aboutmeMainNameName {
    align-self: center;
    justify-self: center;
    font-size : 25px;
    font-weight: 400;
}
.aboutmeMainAddr {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    grid-gap: 10px;
    color: white;

}

.aboutmeMainAddrSpan {
    align-self: center;
    justify-self: center;
    font-size : 30px;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.aboutmeMainAddrGm {
    align-self: center;
    justify-self: center;
    font-size : 20px;
    font-weight: 400;
}

.aboutmeMainContact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    grid-gap: 10px;
    color: white;

}

.aboutmeMainContactSpan {
    align-self: center;
    justify-self: center;
    font-size : 30px;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.aboutmeMainContactMail {
    align-self: center;
    justify-self: center;
    font-size : 18px;
    font-weight: 500;
}

.aboutmeCards {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    height: 400px;
    border-radius: 25px;
    margin-top :  30px;
    margin-bottom: 100px;
    padding : 0px;
    position: relative;
    top: 0px;
}

.aboutmeGithub {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;

    justify-content: center;
    text-align: center;

    padding: 0px;
    margin: 0px;

    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
    box-shadow: 2px 4px 12px #00000014;

}

.aboutmeGithub:hover {
    transform: scale(1.02);
}

.aboutmeGithubFront {
    background-color: white;
    border-radius: 25px;
    display: flex;

    opacity: 1;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    padding: 10px 10px 0px 10px;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}

.aboutmeGithubBack {
    opacity: 0;
    display: none;
    background-color: black;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    padding: 10px 10px 0px 10px;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}

.aboutmeGithub-content {
    opacity: 0;
    padding : 20px;
    color : white;
    text-align: left;
    transition: all 0.2s linear;
}

.rotate-aboutmeGithub-plusBtn {
    transform: rotate(45deg);
}

.unrotate-aboutmeGithub-plusBtn {
    transform: rotate(-45deg);
}

.aboutmeGithub-plusBtn-img {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.aboutmeGithub-plusBtn {
    background-color: rgba(233, 233, 234, 1);
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 20px;
    opacity: 0.8;
    transition: all 0.1s;
}

.aboutmeGithub-logo {
    /* position: absolute; */
    bottom: 0px;
    height: 70%;
    /* background-color: red; */
    margin-left: 50%;
    transform: translate(-50%,0%);
    overflow: hidden;
}

.aboutmeGithub-logo > img{
    position: absolute;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutmeGithub-subtitle {
    margin-left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
    width: 80%;
    top: 60px;
    font-size: 18px;
    /* background-color: yellow; */
}

.aboutmeGithub a {
    text-decoration-line: none;
    color: blue; 
}

.aboutmeBlog a {
    text-decoration-line: none;
    color: white;
}

.aboutmeResume a {
    text-decoration-line: none;
    color: blue; 
}

.aboutmeBlog {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;

    justify-content: center;
    text-align: center;

    padding: 0px;
    margin: 0px;

    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}

.aboutmeBlog:hover {
    transform: scale(1.02);
}

.aboutmeBlog-logo {
    /* position: absolute; */
    bottom: 0px;
    height: 70%;
    /* background-color: red; */
    margin-left: 50%;
    transform: translate(-50%,0%);
    overflow: hidden;
}

.aboutmeBlog-logo > img{
    position: absolute;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutmeBlog-subtitle {
    margin-left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
    width: 80%;
    top: 60px;
    font-size: 18px;
    color: white;
    /* background-color: yellow; */
}

.aboutmeBlogFront {
    background-color: black;
    border-radius: 25px;
    display: flex;

    opacity: 1;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    padding: 10px 10px 0px 10px;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}

.aboutmeBlogBack {
    opacity: 0;
    display: none;
    background-color: white;
    border-radius: 25px;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    padding: 10px 10px 0px 10px;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}

.aboutmeBlog-content {
    opacity: 0;
    padding : 20px;
    color : black;
    text-align: left;
    transition: all 0.2s linear;
}

.rotate-aboutmeBlog-plusBtn {
    transform: rotate(45deg);
}

.unrotate-aboutmeBlog-plusBtn {
    transform: rotate(-45deg);
}

.aboutmeBlog-plusBtn-img {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.aboutmeBlog-plusBtn {
    background-color: rgba(233, 233, 234, 1);
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 20px;
    opacity: 0.8;
    transition: all 0.1s;
}

.aboutmeResume{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;

    justify-content: center;
    text-align: center;

    padding: 0px;
    margin: 0px;

    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
    box-shadow: 2px 4px 12px #00000014;

}

.aboutmeResume:hover {
    transform: scale(1.02);
}


.aboutmeResume-logo {
    /* position: absolute; */
    bottom: 0px;
    height: 70%;
    /* background-color: red; */
    margin-left: 50%;
    transform: translate(-50%,0%);
    overflow: hidden;
}

.aboutmeResume-logo > img{
    position: absolute;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutmeResume-subtitle {
    margin-left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
    width: 80%;
    top: 60px;
    font-size: 18px;
    /* background-color: yellow; */
}
.aboutmeResumeFront {
    background-color: white;
    border-radius: 25px;
    display: flex;

    opacity: 1;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    padding: 10px 10px 0px 10px;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}

.aboutmeResumeBack {
    opacity: 0;
    display: none;
    background-color: black;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    padding: 10px 10px 0px 10px;
    position: relative;
    transition: all 0.2s linear;
    cursor: pointer;
}

.aboutmeResume-content {
    opacity: 0;
    padding : 20px;
    color : white;
    text-align: left;
    transition: all 0.2s linear;
}

.rotate-aboutmeResume-plusBtn {
    transform: rotate(45deg);
}

.unrotate-aboutmeResume-plusBtn {
    transform: rotate(-45deg);
}

.aboutmeResume-plusBtn-img {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.aboutmeResume-plusBtn {
    background-color: rgba(233, 233, 234, 1);
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 20px;
    opacity: 0.8;
    transition: all 0.2s;
}

.aboutme {
    font-size: 16px;
    border: none; 
    padding: 15px 32px;
    border-radius: 20px;    
    cursor: pointer;  
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bg-video-pause {
    background-color: rgba(0, 0, 0, 0);

    border: none;
    position: absolute;
    width: 40px;
    height: 40px;

    bottom: 15px;
    right: 30px;
}

.bg-video-pause-btn {
    width: 40px;
    height: 40px;
    display: block;

    cursor: pointer;
}

.bg-video-play-btn {
    width: 40px;
    height: 40px;
    display: none;

    cursor: pointer;

}

.show-bg-video-pause-btn {
    display: block;
}

.show-bg-video-play-btn {
    display: block;
}

.hide-bg-video-pause-btn {
    display: none;
}

.hide-bg-video-play-btn {
    display: none;
}

.topBtn {
    background-color: rgba(0, 0, 0, 0);

    border: none;
    position: fixed;
    width: 40px;
    height: 40px;

    bottom: 20px;
    right: 30px;

    cursor: pointer;
}

.topBtn-img {
    width: 40px;
    height: 40px;
    display: none;
}

.show-topBtn-img {
    width: 40px;
    height: 40px;
    display: block;
}

.hide-topBtn-img {
    width: 40px;
    height: 40px;
    display: none;
}

.section03 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: 10vh;  */

    background-color: rgba(245, 245, 247, 1);
    padding-bottom: 10vh;
    margin-bottom: 1px; 
}


.skillsSpan {
    font-size : 90px;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    text-decoration-line: none;
    text-decoration-color: black;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 50px;
}

.skillsCard {
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 80%;
    height: 60vh;
    position: relative;
    box-shadow: 2px 4px 12px #00000014;

}

.skillsCardFront {
    border-radius: 30px;
    display: flex;
    opacity: 1;

    flex-direction: row;
    align-self: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.2s linear;

}

.skillsCardBack {
    border-radius: 30px;
    background-color: black;
    display: none;
    opacity: 0;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    position: relative;
    padding: 10px 10px 0px 10px;

    transition: all 0.2s linear;

}

.skillsCardBackContent {
    opacity: 0;
    padding : 20px 60px 20px 60px;
    color : white;
    text-align: left;
    transition: all 0.2s linear;
    font-size: 20px;
}

.skillsDesc {
    position: absolute;
    z-index: 1;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    bottom: 40%;
}

/* .header-logo img */

.htmlImg {
    background-color: white;
    /* background-color: red; */
    width : 20%;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.htmlImgImg {
    position: relative;
    top: 0px;
    width: 40%;
    aspect-ratio: 1/1;
    /* background-color: white; */
    /* animation: moveImg 4s linear infinite; */
}

/* 수정 필요 */
/* @keyframes moveImg {
    0% { transform: translateY(0%); } 
    100% { transform: translateY(-100%); } 
} */

.cssImg {
    background-color: white;
    width : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.cssImgImg {
    width: 30%;
    aspect-ratio: 1/1.3;

    position: relative;
    top : 0px;
    
    /* animation: moveImg 16s linear infinite; */
}

.jsImg {
    background-color: white;
    /* background-color:red; */
    width : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.jsImgImg {
    width: 60%;
    aspect-ratio: 1/1;
    /* animation: moveImg 16s linear infinite; */
    position: relative;
    top : 0px;
}


.reactImg {
    background-color: white;
    width : 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;


}

.reactImgImg {
    width: 40%;
    aspect-ratio: 1/1.5;
    position: relative;
    top : 0px;

    /* animation: moveImg 16s linear infinite; */

}

.typescriptImg {
    background-color: white;
    width : 20%;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.typescriptImgImg {
    width: 30%;
    aspect-ratio: 1/1;
    position: relative;
    top : 0px;
    /* animation: moveImg 16s linear infinite; */

}

.skillCards-pause {
    background-color: rgba(233, 233, 234, 1);
    border: none;
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 70px;
    opacity: 0.8;
}

.skillCards-pause-btn {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.skillCards-play-btn {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}

.show-skillCards-pause-btn {
    display: block;
}

.show-skillCards-play-btn {
    display: block;
}

.hide-skillCards-pause-btn {
    display: none;
}

.hide-skillCards-play-btn {
    display: none;
}

.skillCards-pause02 {
    background-color: rgba(233, 233, 234, 1);
    border-radius: 50%;
    border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 20px;
    opacity: 0.8;
    transition: all 0.1s;
    /* z-index: 5; */
}

.rotate-skillCards-pause02 {
    transform: rotate(45deg);
}

.unrotate-skillCards-pause02 {
    transform: rotate(-45deg);
}

.skillCards-pause-btn02 {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.section04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: black;
    padding-bottom: 10vh;
}

.projectsSpan {
    font-size : 90px;
    font-weight: 700;
    align-self: center;
    justify-content: center;
    text-decoration-line: none;
    text-decoration-color: white;
    color: white;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 50px;
}

.projects01 {
    width: 80%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 4px 12px #00000014;
    padding: 50px;

    display: flex;
    flex-direction: column;

    margin-bottom: 100px;
}

.projects01Tilte {
    font-size : 50px;
    font-weight: 700;
    align-self: center;
    justify-content: center;
    margin: 10px 10px 0px 10px;
}

.projects01Subtilte {
    font-size : 20px;
    font-weight: 500;
    color: grey;
    align-self: center;
    justify-content: center;
    margin: 5px 10px 40px 10px;

}

.projects01Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects01Content {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.projects01Maincontent {
    font-size : 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.projects01Subcontent {

    display: grid;
    grid-template-areas: 
    "projects01Subcontent-function  projects01Subcontent-function-content"
    "projects01Subcontent-url projects01Subcontent-url-content"
    "projects01Subcontent-stack projects01Subcontent-stack-content";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;

    font-size : 17px;
    font-weight: 400;

    border-top: 1px solid lightgrey;
    padding: 10px;
}


.projects01Subcontent-function {
    grid-area: projects01Subcontent-function;

}

.projects01Subcontent-function-content {
    grid-area: projects01Subcontent-function-content;

}

.projects01Subcontent-url {
    grid-area: projects01Subcontent-url;

}

.projects01Subcontent-url-content {
    grid-area: projects01Subcontent-url-content;

}

.projects01Subcontent-stack {
    grid-area: projects01Subcontent-stack;

}

.projects01Subcontent-stack-content {
    grid-area: projects01Subcontent-stack-content;

}

.projects01Img {
    width: 50%;
    background-color: wheat;
    position: relative;
    
    overflow: hidden;
}

.projects01ImgLeft {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    cursor: pointer;
}

.projects01ImgRight {
    position: absolute;
    font-size: 30px;
    color: white;
    left: 96%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.projects01Dot {
    position: absolute;
    font-size: 15px;
    color: grey;
    bottom: 2%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    
    display: flex;
}

.projects01Dot01 {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;

    color: grey;
}

.projects01Dot01:first-child {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;

    color: white;
}

.projects01Img-carousel {
    display: flex;
    transform: translate3d( 0, 0, 0);
    transition: transform 1s;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.projects01Img-carousel > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 프로젝트02 */
.projects02 {
    width: 80%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 4px 12px #00000014;
    padding: 50px;

    display: flex;
    flex-direction: column;

    margin-bottom: 100px;
}

.projects02Tilte {
    font-size : 50px;
    font-weight: 700;
    align-self: center;
    justify-content: center;
    margin: 10px 10px 0px 10px;
}

.projects02Subtilte {
    font-size : 20px;
    font-weight: 500;
    color: grey;
    align-self: center;
    justify-content: center;
    margin: 5px 10px 40px 10px;
}

.projects02Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects02Content {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.projects02Maincontent {
    font-size : 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.projects02Subcontent {
    display: grid;
    grid-template-areas: 
    "projects02Subcontent-function  projects02Subcontent-function-content"
    "projects02Subcontent-url projects02Subcontent-url-content"
    "projects02Subcontent-stack projects02Subcontent-stack-content";

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;

    font-size : 17px;
    font-weight: 400;

    border-top: 1px solid lightgrey;
    padding: 10px;
}


.projects02Subcontent-function {
    grid-area: projects02Subcontent-function;

}

.projects02Subcontent-function-content {
    grid-area: projects02Subcontent-function-content;

}

.projects02Subcontent-url {
    grid-area: projects02Subcontent-url;

}

.projects02Subcontent-url-content {
    grid-area: projects02Subcontent-url-content;

}

.projects02Subcontent-stack {
    grid-area: projects02Subcontent-stack;

}

.projects02Subcontent-stack-content {
    grid-area: projects02Subcontent-stack-content;

}

.projects02Img {
    width: 50%;
    padding: 0px;
    margin: 0px;
    background-color: wheat;
    position: relative;
    overflow: hidden;
}

.projects02ImgLeft {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    cursor: pointer;
}

.projects02ImgRight {
    position: absolute;
    font-size: 30px;
    color: white;
    left: 96%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.projects02Dot {
    position: absolute;
    font-size: 15px;
    color: grey;
    bottom: 2%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    
    display: flex;
}

.projects02Dot01 {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;

    color: grey;
}

.projects02Dot01:first-child {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    color: white;
}

.projects02Img-carousel {
    display: flex;
    transform: translate3d( 0, 0, 0);
    transition: transform 1s;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.projects02Img-carousel > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section05 {
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.careerSpan {
    font-size : 90px;
    font-weight: 700;
    align-self: center;
    justify-content: center;
    text-decoration-line: none;
    text-decoration-color: white;
    color: black;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 50px;
}

.career01 {
    width: 80%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 4px 12px #00000014;
    padding: 50px;

    display: flex;
    flex-direction: row;

    align-self: center;
    justify-content: center;
    margin-bottom: 100px;
}

.career01-img {
    border-radius: 50%;
    background-color: white;
    width: 270px;
    height: 270px;   

    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid #DEDEDE;
}

.career01-img img {
    width: 70%;
}

.career01-content {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;

    width: 70%;
    margin-left: 30px;
    font-size: 20px;

    border-left: 1px solid lightgray;
}

.career01-maincontent {
}

.career01-img02 {
    display: none;
}

.career01-maincontent-name {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 10px 10px 30px;
}

.career01-maincontent-peri {
    font-size: 20px;

    color: grey;
    margin: 0px 10px 10px 30px;
}

.career01-maincontent-desc {
    margin: 0px 10px 10px 30px;
    border-bottom: 1px solid lightgray;
}

.career01-subcontent01 {
    
}

.career01-subcontent01-task {
    font-size: 23px;
    font-weight: 500;
    margin: 15px 10px 10px 30px;
    
}

.career01-subcontent01-peri {
    font-size: 20px;

    color: grey;
    margin: 0px 10px 10px 30px;

}

.career01-subcontent01-desc {
    margin: 0px 10px 10px 30px;
}

.career01-subcontent01-02 {
    display: none;
}

.show-career01 {
    opacity: 1;
    transition: opacity 1s;
}

.hide-career01 {
    opacity: 0;
    transition: opacity 1s;
}

/* 태블릿 */
@media screen and (max-width: 1200px) {/* 태블릿 */
    .header {
        display: none;
    }
    .bg-video{
        width: 100%;
    
        display: flex;   
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 1;
    
    
        position: relative;
        padding: 50px;
        height: 100vh;
        top: 0;
    }

    .home-hi {
        font-size : 100px;
        font-weight: 700;
        transition: all 0.5s;
        margin-top: 250px;
    }
    
    .show-home-hi {
        font-size: 40px;
        top: 500px;
        transition: all 0.5s;
        margin-top: 0px;
    }
    
    .home-role {
     font-size : 60px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.3s, opacity 0.3s;
    }
    
    .home-name {
     font-size : 60px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.7s, opacity 0.7s;
    }

    .sub-intro {
        padding: 20px;
        font-size: 20px;
        margin: 30px;
        font-weight: 500;
        opacity: 0;
    }

    .show-sub-intro {
        opacity: 1;
        transition: opacity 2s;
    }

    .show-home-role {
        transform: translateY(0);
        opacity: 1;
    }
    
    .show-home-name {
        transform: translateY(0);
        opacity: 1;
    }
    
    .aboutme {
        height: 4vh;
        font-weight: 700;
        opacity: 0;
        font-size: 15px;
    }
    
    .show-aboutme {
        opacity: 1;
        transition: opacity 2s;
    }

    .section02 {
        background-color: rgba(245, 245, 247, 1);
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0vh; 
    
    }

    .aboutmeSpan {
        font-size : 90px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: black;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    
    .aboutmeMain {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    
        /* position: relative;
        right: 1000px; */
        transition: right 0.1s linear;
        padding: 80px 150px 80px 150px;
        margin-bottom: 20px;
    
    }

    .aboutmeMain-contents {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
    
    .aboutmeMainName {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    }
    
    .aboutmeMainNameSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    .aboutmeMainNameName {
        align-self: center;
        justify-self: center;
        font-size : 20px;
        font-weight: 400;
    }
    .aboutmeMainAddr {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    
    }
    
    .aboutmeMainAddrSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainAddrGm {
        align-self: center;
        justify-self: center;
        font-size : 18px;
        font-weight: 400;
    }
    
    .aboutmeMainContact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    
    }
    
    .aboutmeMainContactSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainContactMail {
        align-self: center;
        justify-self: center;
        font-size : 15px;
        font-weight: 500;
    }

    .skillsDesc {
        position: absolute;
        z-index: 1;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        bottom: 40%;
    }

    .aboutmeBlog-subtitle a{
        display: none;
    }

    .projectsSpan {
        font-size : 90px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: white;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .projects01 {
        width: 80%;
        background-color: white;
        border-radius: 30px;
        box-shadow: 2px 4px 12px #00000014;
        padding: 50px 10px 50px 10px;
    
        display: flex;
        flex-direction: column;
    
        margin-bottom: 100px;
    }
    
    .projects01Tilte {
        font-size : 40px;
        font-weight: 700;
        align-self: center;
        justify-content: center;
        margin: 10px 10px 0px 10px;
    }
    
    .projects01Subtilte {
        font-size : 15px;
        font-weight: 500;
        color: grey;
        align-self: center;
        justify-content: center;
        margin: 5px 10px 40px 10px;
    }
    
    .projects01Main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects01Img {
        width: 60%;
        background-color: wheat;
        position: relative;
    
        aspect-ratio: 1.6/1;


        overflow: hidden;

        margin-bottom: 50px;
    }
    
    .projects01Content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .projects01Maincontent {
        font-size : 18px;
        font-weight: 500;
        margin-bottom: 50px;
    
    }
    
    .projects01Subcontent {
    
        display: grid;
        grid-template-areas: 
        "projects01Subcontent-function  projects01Subcontent-function-content"
        "projects01Subcontent-url projects01Subcontent-url-content"
        "projects01Subcontent-stack projects01Subcontent-stack-content";
    
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2px;
    
        font-size : 17px;
        font-weight: 400;
    
        border-top: 1px solid lightgrey;
        padding: 10px;
    }

    .projects02 {
        width: 80%;
        background-color: white;
        border-radius: 30px;
        box-shadow: 2px 4px 12px #00000014;
        padding: 50px 10px 50px 10px;
    
        display: flex;
        flex-direction: column;
    
        margin-bottom: 100px;
    }

    .projects02Tilte {
        font-size : 40px;
        font-weight: 700;
        align-self: center;
        justify-content: center;
        margin: 10px 10px 0px 10px;
    }
    
    .projects02Subtilte {
        font-size : 15px;
        font-weight: 500;
        color: grey;
        align-self: center;
        justify-content: center;
        margin: 5px 10px 40px 10px;
    }

    .projects02Main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects02Img {
        width: 60%;
        background-color: wheat;
        position: relative;
        aspect-ratio: 1.6/1;
        overflow: hidden;
        margin-bottom: 50px;
    }

    .projects02Content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .projects02Maincontent {
        font-size : 18px;
        font-weight: 500;
        margin-bottom: 50px;
    
    }
    
    .projects02Subcontent {
    
        display: grid;
        grid-template-areas: 
        "projects02Subcontent-function  projects02Subcontent-function-content"
        "projects02Subcontent-url projects02Subcontent-url-content"
        "projects02Subcontent-stack projects02Subcontent-stack-content";
    
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2px;
    
        font-size : 17px;
        font-weight: 400;
    
        border-top: 1px solid lightgrey;
        padding: 10px;
    }

    .careerSpan {
        font-size : 90px;
        font-weight: 700;
        align-self: center;
        justify-content: center;
        text-decoration-line: none;
        text-decoration-color: white;
        color: black;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .career01 {
        width: 80%;
        background-color: white;
        border-radius: 30px;
        box-shadow: 2px 4px 12px #00000014;
        padding: 10px;
    
        display: flex;
        flex-direction: column;
    
        margin-bottom: 100px;

        justify-content: center;
        align-self: center;
        
    }



    .career01-content {
        width: 100%;
        margin: 0px;
        padding: 10px;
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid lightgray;
        border-left: 0px solid white;
    }

    .career01-img {
        display: none;
    }

    .career01-img02 {
        border-radius: 50%;
        background-color: white;
        width: 200px;
        height: 200px;   
    
        display: flex;
        align-items: center;
        /* stroke-dasharray: ; */
        justify-content: center; 
        border: 1px solid #DEDEDE;
    }
    
    .career01-img02 img {
        width: 70%;
    }

    .career01-maincontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
    }

    .career01-maincontent-name {
        font-size: 22px;
        font-weight: 600;
        margin: 10px;
    } 
    
    .career01-maincontent-peri {
        font-size: 15px;
    
        color: grey;
        margin: 10px;
    }
    
    .career01-maincontent-desc {
        font-size: 18px;
        margin: 10px;
        border-bottom: 0px solid white;
    }

    .career01-subcontent01 {
        display: none;
    }

    
    .career01-subcontent01-02 {
        display: block;
        font-size: 17px;
        margin: 0px;
        padding: 0px;
    }
    
}

/* 스마트폰 화면 */
@media screen and (max-width: 768px) {/* 스마트폰 화면 */
    .header {
        display: none;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        
    }

    .bg-video{
        width: 100%;
    
        display: flex;   
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 1;
    
    
        position: relative;
        padding: 50px;
        height: 100vh;
        top: 0;
    }

    .bg-video-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        position: absolute
    }
    
    .intro-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        z-index: 2; 
    }
    
    .home-hi {
        font-size : 60px;
        font-weight: 700;
        transition: all 0.5s;
        margin-top: 250px;
    }
    
    .show-home-hi {
        font-size: 20px;
        top: 500px;
        transition: all 0.5s;
        margin-top: 0px;
    }
    
    .home-role {
     font-size : 29px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.3s, opacity 0.3s;
    }
    
    .home-name {
     font-size : 29px;
     font-weight: 700;
    
     transform: translateY(20px);
     opacity: 0;
     transition: transform 0.7s, opacity 0.7s;
    }

    .sub-intro {
        padding: 20px;
        font-size: 15px;
        margin: 20px 20px 20px 30px;
        padding: 0px;
        font-weight: 500;
        opacity: 0;
    }

    .show-sub-intro {
        opacity: 1;
        transition: opacity 2s;
    }

    .show-home-role {
        transform: translateY(0);
        opacity: 1;
    }
    
    .show-home-name {
        transform: translateY(0);
        opacity: 1;
    }
    
    .aboutme {
        height: 3vh;
        font-weight: 700;
        opacity: 0;
        font-size: 10px;
    }
    
    .show-aboutme {
        opacity: 1;
        transition: opacity 2s;
    }

    .section02 {
        background-color: rgba(245, 245, 247, 1);
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0vh; 
    
    }

    .aboutmeSpan {
        font-size : 50px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: black;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .skillsSpan {
        font-size : 50px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: black;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .aboutmeMain {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    
        /* position: relative;
        right: 1000px; */
        transition: right 0.1s linear;
        padding: 50px 30px 50px 30px;
        margin-bottom: 0px;
    
    }

    .aboutmeMain-contents {
        width: 100%;
        background-color: black;
        border-radius: 25px;
    
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .aboutmeMainName {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
        margin-bottom: 20px;
    }
    
    .aboutmeMainNameSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    .aboutmeMainNameName {
        align-self: center;
        justify-self: center;
        font-size : 20px;
        font-weight: 400;
    }
    .aboutmeMainAddr {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
        margin-bottom: 20px;
    
    }
    
    .aboutmeMainAddrSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainAddrGm {
        align-self: center;
        justify-self: center;
        font-size : 20px;
        font-weight: 400;
    }
    
    .aboutmeMainContact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        justify-self: center;
        grid-gap: 10px;
        color: white;
    
    }
    
    .aboutmeMainContactSpan {
        align-self: center;
        justify-self: center;
        font-size : 25px;
        font-weight: 500;
        border-bottom: 2px solid white;
    }
    
    .aboutmeMainContactMail {
        align-self: center;
        justify-self: center;
        font-size : 18px;
        font-weight: 500;
    }

    .aboutmeWrapper {
        background-color: rgba(245, 245, 247, 1);


        padding: 0px;
        border-radius: 30px;
    
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        width: 80%;
    }

    .aboutmeCards {
        display: flex;
        flex-direction: row;
        height: auto;
        border-radius: 25px;
        margin-top :  15px;
        padding : 0px;
        position: relative;
        top: 0px;
        aspect-ratio: 3/1;
    }

    .aboutmeGithub {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 25px;
    
        justify-content: center;
        text-align: center;
    
        padding: 0px;
        margin: 0px;
    
        position: relative;
        transition: all 0.2s linear;
        cursor: pointer;
    }

    .aboutmeGithub-logo > img{
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .aboutmeGithub-subtitle {
        display: none;
    }

    .aboutmeGithub-plusBtn {
        display: none;
    }

    .aboutmeBlog {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 25px;
    
        justify-content: center;

        text-align: center;
    
        padding: 0px;
        margin: 0px;
    
        position: relative;
        transition: all 0.2s linear;
        cursor: pointer;
    }

    .aboutmeBlog-plusBtn {
        display: none;
    }

    .aboutmeBlog-subtitle {
        display: none;
    }

    .aboutmeBlog-logo > img{
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .aboutmeResume{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 25px;
    
        justify-content: center;
        text-align: center;
    
        padding: 0px;
        margin: 0px;
    
        position: relative;
        transition: all 0.2s linear;
        cursor: pointer;
    }

    .aboutmeResume-plusBtn {
        display: none;
    }

    .aboutmeResume-subtitle {
        display: none;
    }

    .aboutmeResume-logo > img{
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .skillsDesc {
        position: absolute;
        z-index: 1;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        bottom: 35%;
        padding: 20px;
    }

    .projectsSpan {
        font-size : 50px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: white;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .projects01Main {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .projects01Img {
        width: 90%;
        background-color: wheat;
        position: relative;
    
        aspect-ratio: 1.6/1;
    
        overflow: hidden;
    }

    .projects01Tilte {
        font-size : 30px;
        font-weight: 700;
        align-self: center;
        justify-content: center;
        margin: 10px 10px 0px 10px;
    }
    
    .projects01Subtilte {
        font-size : 10px;
        font-weight: 500;
        color: grey;
        align-self: center;
        justify-content: center;
        margin: 5px 10px 40px 10px;
    
    }

    .projects01Content {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .projects01Maincontent {
        font-size : 15px;
        font-weight: 500;
        margin-bottom: 30px;
    
    }
    
    .projects01Subcontent {
    
        display: grid;
        grid-template-areas: 
        "projects01Subcontent-function  projects01Subcontent-function-content"
        "projects01Subcontent-url projects01Subcontent-url-content"
        "projects01Subcontent-stack projects01Subcontent-stack-content";
    
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2px;
    
        font-size : 12px;
        font-weight: 400;
    
        border-top: 1px solid lightgrey;
        padding: 10px;
    }

    .projects02Main {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .projects02Img {
        width: 90%;
        background-color: wheat;
        position: relative;
    
        aspect-ratio: 1.6/1;
    
        overflow: hidden;
    }

    .projects02Tilte {
        font-size : 30px;
        font-weight: 700;
        align-self: center;
        justify-content: center;
        margin: 10px 10px 0px 10px;
    }
    
    .projects02Subtilte {
        font-size : 10px;
        font-weight: 500;
        color: grey;
        align-self: center;
        justify-content: center;
        margin: 5px 10px 40px 10px;
    
    }

    .projects02Content {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .projects02Maincontent {
        font-size : 15px;
        font-weight: 500;
        margin-bottom: 30px;
    
    }

    .projects02Subcontent {
    
        display: grid;
        grid-template-areas: 
        "projects02Subcontent-function  projects02Subcontent-function-content"
        "projects02Subcontent-url projects02Subcontent-url-content"
        "projects02Subcontent-stack projects02Subcontent-stack-content";
    
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2px;
    
        font-size : 12px;
        font-weight: 400;
    
        border-top: 1px solid lightgrey;
        padding: 10px;
    }

    .careerSpan {
        font-size : 50px;
        font-weight: 700;
        align-self: center;
        justify-self: center;
        text-decoration-line: none;
        text-decoration-color: black;
        list-style: none;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .career01 {
        width: 80%;
        background-color: white;
        border-radius: 30px;
        box-shadow: 2px 4px 12px #00000014;
        padding: 30px 20px 30px 20px;
    
        display: flex;
        flex-direction: column;
    
        align-self: center;
        justify-content: center;
        margin-bottom: 100px;
        
    }

    .career01-img {
        display: none;
    }
    .career01-img02 {
        display: none;
    }

    .career01-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding: 0px;
        border-bottom: 1px solid white;

    }

    .career01-maincontent {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        border-bottom: 1px solid lightgrey;
    }

    .career01-maincontent-name {
        font-size: 22px;
        font-weight: 600;
    } 
    
    .career01-maincontent-peri {
        font-size: 15px;
        font-weight: 500;
        color: grey;
    }
    
    .career01-maincontent-desc {
        font-size: 18px;

    }

    .career01-subcontent01 {
        display: flex;
        flex-direction: column;

        padding: 0px;
        margin-top: 10px;
        border-bottom: 1px solid white;
    }

    .career01-subcontent01-task {
        font-size: 18px;
        font-weight: 500;
        margin: 10px;
    }
    
    .career01-subcontent01-peri {
        font-size: 15px;
        color: grey;
        margin: 10px;

    }
    
    .career01-subcontent01-desc {
        font-size: 18px;
        font-weight: 500;
        margin: 10px;
        border-bottom: 1px solid white;
    }

    .career01-subcontent01-02 {
        display: none;
    }
}
